<%= form_with(model: worklog) do |form| %>
  <% if worklog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(worklog.errors.count, "error") %> prohibited this worklog from being saved:</h2>

      <ul>
        <% worklog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="flex gap-4 py-2 items-center">
      <%= form.label :hours, style: "display: block", class: "font-bold min-w-[120px]" %>
      <%= form.text_field :hours, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
      <% if worklog.errors[:hours].any? %>
        <div class="text-red-600">
          <%= worklog.errors[:hours].first %>
        </div>
      <% end %>
    </div>

    <div class="flex gap-4 py-2">
      <%= form.label :note, style: "display: block", class: "font-bold min-w-[120px]" %>
      <%= form.textarea :note, rows: 3, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
      <% if worklog.errors[:note].any? %>
        <div class="text-red-600">
          <%= worklog.errors[:note].first %>
        </div>
      <% end %>
    </div>

    <div class="flex gap-4 py-2">
      <%= form.label :project_id, style: "display: block", class: "font-bold min-w-[120px]" %>
      <%= form.collection_select :project_id, @projects, :id, :name, { prompt: "Select a Project" },
      { class: "form-control rounded-sm border border-zinc-900 bg-zinc-200"} %>
      <% if worklog.errors[:project_id].any? %>
        <div class="text-red-600">
          <%= worklog.errors[:project_id].first %>
        </div>
      <% end %>
    </div>

    <div class="flex gap-4 py-2">
      <%= form.label :log_date, style: "display: block", class: "font-bold min-w-[120px]" %>
      <%= form.date_field :log_date, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
      <% if worklog.errors[:log_date].any? %>
        <div class="text-red-600">
          <%= worklog.errors[:log_date].first %>
        </div>
      <% end %>
    </div>

    <div class="pb-4">
      <%= form.submit "Post Worklog", class: "button-success" %>
    </div>

    <% if worklog.new_record? %>
      <div>
        <%= link_to "Cancel", worklogs_path, class: "button-secondary" %>
      </div>
    <% else %>
      <div>
        <%= link_to "Cancel", @worklog, class: "button-secondary" %> |
        <%= link_to "Back to worklogs", worklogs_path, class: "button-secondary" %>
      </div>
    <% end %>
  </div>
<% end %>
