<div id="<%= dom_id worklog %>">
  <p>
    <strong>Employee:</strong>
    <%= worklog.user.first_name %> <%= worklog.user.last_name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= worklog.hours %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= worklog.note %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= worklog.project.name %>
  </p>

  <p>
    <strong>Log date:</strong>
    <%= worklog.log_date %>
  </p>

</div>
