<p style="color: green"><%= notice %></p>

<% content_for :title, "Worklogs" %>

<h1 class="text-3xl font-bold text-zinc-700 my-6 ml-6">Worklogs</h1>

<div id="worklogs" class="form-card space-y-6">
  <% @worklogs.each do |worklog| %>
    <%= render worklog %>
    <p class="mt-4">
      <%= link_to "View worklog", worklog, class: "button-secondary" %> | 
      <%= link_to "Edit worklog", edit_worklog_path(worklog), class: "button" %>
    </p>
    <hr>
  <% end %>

  <div class="mt-6">
    <%= link_to "New worklog", new_worklog_path, class: "button-success" %>
  </div>
</div>



