<% content_for :title, "Worklogs" %>

<div class="form-card">
  <%= form_with url: worklogs_path, method: :get, local: true, class: "flex items-center gap-4" do |form| %>
    <div>
      <%= form.label :month, "Month:", class: "mr-2" %>
      <%= form.select :month, 
            Date::MONTHNAMES.compact.map.with_index(1) { |name, i| [name, i] },
            { selected: @selected_month },
            { class: "border border-zinc-500 rounded px-3 py-2" } %>
    </div>
    <div>
      <%= form.label :year, "Year:", class: "mr-2" %>
      <%= form.select :year, 
          (Date.today.year - 2..Date.today.year + 1).to_a.reverse,
          { selected: @selected_year },
          { class: "border border-zinc-500 rounded px-3 py-2" } %>
    </div>

    <%= form.submit "Filter", class: "button" %>
    <%= link_to "Reset", worklogs_path, class: "button-secondary" %>

    <%= link_to "Export CSV", 
          export_worklogs_path(month: @selected_month, year: @selected_year, format: :csv),
          class: "button-success" %>
  <% end %>
</div>

<div class="form-card">
  <h1 class="h1-style">Worklogs</h1>

  <table class="table w-full border border-zinc-500 border-collapse">
    <thead class="text-lf font-bold">
      <td class="border border-zinc-500 py-2 px-3">Date</td>
      <td class="border border-zinc-500 py-2 px-3">Hours</td>
      <td class="border border-zinc-500 py-2 px-3">Project</td>
      <td class="border border-zinc-500 py-2 px-3">Notes</td>
      <td class="border border-zinc-500 py-2 px-3">Actions</td>
    </thead>
    <tbody>
      <% @worklogs.each do |worklog| %>
        <tr>
          <td class="border border-zinc-500 py-2 px-3"><%= worklog.log_date%></td>
          <td class="border border-zinc-500 py-2 px-3"><%= worklog.hours %></td>
          <td class="border border-zinc-500 py-2 px-3"><%= worklog.project.name %></td>
          <td class="border border-zinc-500 py-2 px-3" title="<%= worklog.note %>"><%= truncate(worklog.note, length: 100) %></td>
          <td class="border border-zinc-500 py-2 px-3">
            <%= link_to "View", worklog, class: "button-secondary" %>
            <%= link_to "Edit", edit_worklog_path(worklog), class: "button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <section class="mt-6">
    <%= link_to "New worklog", new_worklog_path, class: "button-success" %>
  </section>
</div>

