<div class="form-card">
  <%= render @worklog %>

  <div class="flex gap-x-3 mt-6">
    <%= back_button %>
    <%= button_to edit_worklog_path(@worklog), method: :get, class: @worklog.editable? ? "button" : "button-disabled", 
                              disabled: !@worklog.editable? do %>
      <%= icon_text("pencil", "Edit") %>
    <% end %>
    <%= button_to @worklog, method: :delete, class: @worklog.editable? ? "button-danger" : "button-disabled", 
                              disabled: !@worklog.editable? do %>
      <%= icon_text("trash", "Delete") %>
    <% end %>
  </div>
</div>

