<%= form_with(model: user) do |f| %>
    <% if user.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
            <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div>
        <div class="flex gap-4 py-2 items-center">
            <%= f.label :first_name, class: "font-bold min-w-[120px]" %>
            <%= f.text_field :first_name, autofocus: true, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
        </div>

        <div class="flex gap-4 py-2 items-center">
            <%= f.label :last_name, class: "font-bold min-w-[120px]" %>
            <%= f.text_field :last_name, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
        </div>
        
        <div class="flex gap-4 py-2 items-center">
            <%= f.label :email, class: "font-bold min-w-[120px]" %>
            <%= f.email_field :email, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
        </div>

        <div class="flex gap-4 py-2 items-center">
            <%= f.label :date_of_birth, class: "font-bold min-w-[120px]" %>
            <%= f.date_field :date_of_birth, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
        </div>
        
        <div class="flex gap-4 py-2 items-center">
            <%= f.label :password, class: "font-bold min-w-[120px]" %>
            <%= f.password_field :password, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
        </div>
        
        <div class="flex gap-4 py-2 items-center">
            <%= f.label :password_confirmation, "Confirm password", class: "font-bold min-w-[120px]" %>
            <%= f.password_field :password_confirmation, class: "rounded-sm border border-zinc-900 bg-zinc-200" %>
        </div>
        <% if current_user_admin? %>
            <div>
                <%= form_with(model: user, local: true) do |form| %>
                    <div>
                        <%= form.label :projects, "Assign Projects", class: "font-bold min-w-[120px]" %>
                        <div>
                            <%= form.collection_check_boxes :project_ids, Project.all, :id, :name do |b| %>
                                <div>
                                    <%= b.check_box %>
                                    <%= b.label %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
        
        <%= link_to "Cancel", root_url, class: "button-secondary" %>
        <% if user.new_record? %>
            <%= f.submit "Create Employee", class: "button-success" %>
        <% else %>
            <%= f.submit "Update Employee", class: "button-success" %>
        <% end %>
    </div>

<% end %>