<%= form_with(model: user) do |f| %>
    <% if user.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
            <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name%>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %>

    <% if user.new_record? %>
        <%= f.submit "Create Employee" %>
    <% else %>
        <%= f.submit "Update Employee" %>
    <% end %>
<% end %>