<div class="form-card">
    <h1 class="h1-style">Employees</h1>
    <table class="table w-full border border-zinc-500 border-collapse">
        <thead class="text-lf font-bold">
            <td class="border border-zinc-500 py-2 px-3">Name</td>
            <td class="border border-zinc-500 py-2 px-3">Email</td>
            <td class="border border-zinc-500 py-2 px-3">DOB</td>
            <td class="border border-zinc-500 py-2 px-3">Actions</td>
        </thead>
        <tbody>
            <% @users.each do |u| %>
                <tr>
                    <td class="border border-zinc-500 py-2 px-3"><%= u.full_name %></td>
                    <td class="border border-zinc-500 py-2 px-3"><%= u.email %></td>
                    <td class="border border-zinc-500 py-2 px-3"><%= u.date_of_birth ? u.date_of_birth : "N/A" %></td>
                    <td class="border border-zinc-500 py-2 px-3"><%= link_to "View", u, class: "button-secondary" %> <%= link_to "Edit", edit_user_path(u), class: "button" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <section class="mt-6">
        <%= link_to "Register New Employee", new_user_path, class: "button-success" %>
    </section>
</div>



 