<div class="form-card">
    <h1  class="h1-style">Employee details</h1>
    <h3 class="font-bold text-md">Name: </h3>
    <%= @user.full_name %>

    <h3 class="font-bold text-md pt-2">Email: </h3>
    <p><%= @user.email %></p>

    <h3 class="font-bold text-md pt-2">Notification email: </h3>
    <p><%= @user.notification_email %></p>

    <h3 class="font-bold text-md pt-2">Birthday:</h3>
    <p><%= @user.date_of_birth ? @user.date_of_birth : "N/A" %></p>

    <h3 class="font-bold text-md pt-2">Created:</h3>
    <p><%= @user.created_at %></p>

    <div class="mt-6 gap-3">
        <%= back_button %>
        <%= link_to edit_user_path(@user), class: "button" do %>
            <%= icon_text("pencil", "Edit") %>
        <% end %>
    </div>
</div>
