<div id="<%= dom_id submission %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= submission.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period start:</strong>
    <%= submission.period_start %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period end:</strong>
    <%= submission.period_end %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= submission.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Note:</strong>
    <%= submission.note %>
  </div>
</div>
