<% content_for :title, "Submissions" %>

<div class="form-card">
  <%= form_with url: submissions_path, method: :get, local: true, class: "flex items-center gap-4" do |form| %>
    <div>
      <%= form.label :month, "Month:", class: "mr-2 font-bold" %>
      <%= form.select :month, 
            Date::MONTHNAMES.compact.map.with_index(1) { |name, i| [name, i] },
            { selected: @selected_month },
            { class: "border border-zinc-500 rounded px-3 py-2 dark:bg-zinc-300" } %>
    </div>
    <div>
      <%= form.label :year, "Year:", class: "mr-2 font-bold" %>
      <%= form.select :year, 
          (Date.today.year - 2..Date.today.year + 1).to_a.reverse,
          { selected: @selected_year },
          { class: "border border-zinc-500 rounded px-3 py-2 dark:bg-zinc-300" } %>
    </div>

    <%= filter_button %>
    <%= link_to submissions_path, class: "button-secondary" do %>
      <%= icon_text("arrow-path", "Reset") %>
    <% end %>
  <% end %>
</div>

<div class="w-full form-card">
  <h1 class="h1-style">Submitted Timesheets</h1>
  
  <div class="form-card">
    <table class="table-fixed w-full border border-zinc-500 border-collapse">
    <thead class="text-lf font-bold">
      <tr class="bg-zinc-200 dark:bg-zinc-300">
        <th class="border border-zinc-500 py-2 px-3 w-42">Employee</th>
        <th class="border border-zinc-500 py-2 px-3 w-56">Period</th>
        <th class="border border-zinc-500 py-2 px-3 w-28">Status</th>
        <th class="border border-zinc-500 py-2 px-3">Note</th>
        <th class="border border-zinc-500 py-2 px-3 w-28">Action</th>
      </tr>
    </thead>
      <tbody>
        <% @submissions.each do |submission| %>
          <tr>
            <td class="border border-zinc-500 py-2 px-3"><%= submission.user.full_name%></td>
            <td class="border border-zinc-500 py-2 px-3"><%= "#{submission.period_start}...#{submission.period_end}" %></td>
            <td class="border border-zinc-500 py-2 px-3 text-center">
              <%= status_badge(submission.status) %>
            </td>
            <td class="border border-zinc-500 py-2 px-3 truncate" title="<%= submission.note %>"><%= submission.note %></td>
            <td class="border border-zinc-500 py-2 px-3">
              <%= link_to submission, class: "button-secondary" do %>
                <%= icon_text("eye", "Show") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


</div>