<h1>New Submission Received</h1>

<p>
    <strong><%= @user.full_name %></strong> has submitted worklogs
    for the period <%= @submission.period_start %> to <%= @submission.period_end %>
</p>

<p>
    Note: <%= @submission.note %>
</p>

<p>
  <%= link_to "Review Submission", submission_url(@submission) %>
</p>